$main-bg-color: #233140;
$addition-bg-color: #263443;
$accent-color: #45ff90;
$main-txt-color: #fff;
$inactive-link-color: #808a95;
$table-main-color: #384d63;
$table-addition-color: #293746;
$league-tabs-color: #12212d;